Â© ç‰ˆæƒæ‰€æœ‰ Wenting Tu

In [1]:
import warnings 
warnings.filterwarnings("ignore")

# <b><span style='color:#F1C40F'>|</span> åŸºäºè¿‘é‚»ç®—æ³•çš„ååŒè¿‡æ»¤ - UCF</b>
æœ¬èŠ‚å†…å®¹ä¿®æ”¹äº:

 ğŸ“Œ [User-basedCollaborativeFiltering](https://github.com/nzhinusoftcm/review-on-collaborative-filtering/blob/master/2.User-basedCollaborativeFiltering.ipynb)

### å¯¼å…¥éœ€è¦çš„åŒ…

In [2]:
import pandas as pd
import numpy as np
import os
import sys

from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import NearestNeighbors

from scipy.sparse import csr_matrix

### å¯¼å…¥æ•°æ®é›†

In [3]:
ratings  = pd.read_csv(
            './recsys_data/recsys-100k-ratings.data',
            sep='\t',
            names=["userid", "itemid", "rating", "timestamp"],
        )
ratings = ratings.sort_values(by=['userid', 'itemid']).reset_index(drop=True)
ratings = ratings.drop(columns=['timestamp'])
ratings

       userid  itemid  rating
0           1       1       5
1           1       2       3
2           1       3       4
3           1       4       3
4           1       5       3
...       ...     ...     ...
99995     943    1067       2
99996     943    1074       4
99997     943    1188       3
99998     943    1228       3
99999     943    1330       3

[100000 rows x 3 columns]

In [4]:
movies_columns = [
            'itemid', 'title', 'release date', 'video release date', 
            'IMDb URL ', 'unknown', 'Action', 'Adventure', 'Animation',
            "Children's", 'Comedy' , 'Crime' , 'Documentary' , 'Drama' , 'Fantasy' ,
            'Film-Noir', 'Horror', 'Musical' , 'Mystery' , 'Romance' , 'Sci-Fi' ,
            'Thriller' , 'War' , 'Western' ,
        ]

movies = pd.read_csv(
        './recsys_data/recsys-100k-items.data',
        sep='|',
        names=movies_columns,
        encoding='latin-1',
    )

# drop non necessary columns. From the third to the last column
todrop = list(range(2, len(movies.columns)))
movies = movies.drop(movies.columns[todrop], axis=1)
movies

      itemid                                      title
0          1                           Toy Story (1995)
1          2                           GoldenEye (1995)
2          3                          Four Rooms (1995)
3          4                          Get Shorty (1995)
4          5                             Copycat (1995)
...      ...                                        ...
1677    1678                          Mat' i syn (1997)
1678    1679                           B. Monkey (1998)
1679    1680                       Sliding Doors (1998)
1680    1681                        You So Crazy (1994)
1681    1682  Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]

### å¯¹useridså’Œitemidsåšé¡ºåºç¼–ç

In [5]:
def ids_encoder(ratings):
    users = sorted(ratings['userid'].unique())
    items = sorted(ratings['itemid'].unique())

    # create users and items encoders
    uencoder = LabelEncoder()
    iencoder = LabelEncoder()

    # fit users and items ids to the corresponding encoder
    uencoder.fit(users)
    iencoder.fit(items)

    # encode userids and itemids
    ratings.userid = uencoder.transform(ratings.userid.tolist())
    ratings.itemid = iencoder.transform(ratings.itemid.tolist())

    return ratings, uencoder, iencoder

# prepare data
ratings, uencoder, iencoder = ids_encoder(ratings)

### å¯¹ç”¨æˆ·çº§åˆ«çš„è¯„åˆ†åšè§„èŒƒåŒ–

In [6]:
def normalize():
    # compute mean rating for each user
    mean = ratings.groupby(by='userid', as_index=False)['rating'].mean()
    norm_ratings = pd.merge(ratings, mean, suffixes=('','_mean'), on='userid')
    
    # normalize each rating by substracting the mean rating of the corresponding user
    norm_ratings['norm_rating'] = norm_ratings['rating'] - norm_ratings['rating_mean']
    return mean.to_numpy()[:, 1], norm_ratings
mean, ratings = normalize()
ratings

       userid  itemid  rating  rating_mean  norm_rating
0           0       0       5     3.610294     1.389706
1           0       1       3     3.610294    -0.610294
2           0       2       4     3.610294     0.389706
3           0       3       3     3.610294    -0.610294
4           0       4       3     3.610294    -0.610294
...       ...     ...     ...          ...          ...
99995     942    1066       2     3.410714    -1.410714
99996     942    1073       4     3.410714     0.589286
99997     942    1187       3     3.410714    -0.410714
99998     942    1227       3     3.410714    -0.410714
99999     942    1329       3     3.410714    -0.410714

[100000 rows x 5 columns]

### æ„é€ è®¡ç®—ç”¨æˆ·ç›¸ä¼¼åº¦çš„è¯„åˆ†çŸ©é˜µR

In [7]:
def get_csr_rating_matrix(ratings):   
    '''
    æˆ‘ä»¬ç”¨norm_ratingæ¥åšè¯„åˆ†çŸ©é˜µï¼Œåç»­å¦‚æœä½¿ç”¨cosineç›¸ä¼¼åº¦ï¼Œå°±ç›¸å½“äºä½¿ç”¨pearsonç›¸å…³ç³»æ•°
    '''
    return csr_matrix(pd.crosstab(ratings.userid, ratings.itemid, ratings.norm_rating, aggfunc=sum).fillna(0).values)

rating_matrix = get_csr_rating_matrix(ratings)

In [8]:
rating_matrix

<943x1682 sparse matrix of type '<class 'numpy.float64'>'
	with 99650 stored elements in Compressed Sparse Row format>

### åˆ©ç”¨è¯„åˆ†çŸ©é˜µ+cosineç›¸ä¼¼åº¦ä½œå­¦ä¹ è¿‘é‚»æ¨¡å‹ï¼Œå¾—åˆ°æ¯ä¸ªç”¨æˆ·çš„ç›¸ä¼¼ç”¨æˆ·é›†å’Œå¯¹åº”çš„ç›¸ä¼¼åº¦

In [9]:
def create_model(rating_matrix, k=20, metric="cosine"):
    """
    - create the nearest neighbors model with the corresponding similarity metric
    - fit the model
    """
    model = NearestNeighbors(metric=metric, n_neighbors=k+1, algorithm='brute')
    model.fit(rating_matrix)    
    return model

In [10]:
def nearest_neighbors(rating_matrix, model):
    """    
    :param rating_matrix : rating matrix of shape (nb_users, nb_items)
    :param model : nearest neighbors model    
    :return
        - similarities : distances of the neighbors from the referenced user
        - neighbors : neighbors of the referenced user in decreasing order of similarities
    """    
    similarities, neighbors = model.kneighbors(rating_matrix)        
    return similarities[:, 1:], neighbors[:, 1:]

In [11]:
model = create_model(rating_matrix, metric='cosine') # we can also use the 'euclidian' distance
similarities, neighbors = nearest_neighbors(rating_matrix, model)

In [12]:
similarities

array([[0.79520838, 0.79767934, 0.8034083 , ..., 0.82645814, 0.82808918,
        0.8288477 ],
       [0.60625011, 0.71469001, 0.71953175, ..., 0.80376944, 0.80718126,
        0.80747815],
       [0.76843901, 0.76953166, 0.79427808, ..., 0.8603097 , 0.86617232,
        0.86766448],
       ...,
       [0.72040905, 0.74140621, 0.74514172, ..., 0.83147653, 0.83441328,
        0.83647857],
       [0.83263536, 0.83661343, 0.83855341, ..., 0.87313794, 0.8742007 ,
        0.87500949],
       [0.77431478, 0.79267748, 0.79864397, ..., 0.83911277, 0.84025399,
        0.84393275]])

In [13]:
similarities.shape

(943, 20)

In [14]:
neighbors

array([[772, 867, 591, ..., 549,  12, 660],
       [650,  33, 309, ..., 623, 128, 419],
       [807, 686, 655, ..., 546, 709, 840],
       ...,
       [340,   3, 510, ..., 851, 819, 733],
       [682, 124, 663, ..., 332, 553, 328],
       [932, 193, 346, ..., 245, 822, 215]], dtype=int64)

### å®šä¹‰æ‰¾åˆ°æ¨èå€™é€‰å•†å“çš„å‡½æ•°

åœ¨è¿™é‡Œæˆ‘ä»¬å®šä¹‰ä»¥ä¸‹å•†å“ä¸ºå€™é€‰æ¨èå•†å“ï¼š

- ä¸å±äº ```active_items``` (ç›®æ ‡ç”¨æˆ·å·²ç»è´­ä¹°è¿‡çš„å•†å“)
- å±äº ```Gu_items``` (ç›¸ä¼¼ç”¨æˆ·å·²ç»**é¢‘ç¹**è´­ä¹°è¿‡çš„å•†å“)
- å±äºç›¸ä¼¼ç”¨æˆ·è´­ä¹°é¢‘ç‡topçš„å•†å“

In [15]:
def find_candidate_items(userid, candidate_number=30):
    """
    Find candidate items for an active user
    
    :param userid : active user
    :param neighbors : users similar to the active user        
    :return candidates : top 30 of candidate items
    """
    user_neighbors = neighbors[userid]
    activities = ratings.loc[ratings.userid.isin(user_neighbors)]
    
    # sort items in decreasing order of frequency
    frequency = activities.groupby('itemid')['rating'].count().reset_index(name='count').sort_values(['count'],ascending=False)
    Gu_items = frequency.itemid
    active_items = ratings.loc[ratings.userid == userid].itemid.to_list()
    candidates = np.setdiff1d(Gu_items, active_items, assume_unique=True)[:candidate_number]
        
    return candidates

### å®šä¹‰æ‰“åˆ†å‡½æ•°

In [16]:
# ç”±äºåˆ†æ•°é¢„æµ‹éœ€è¦è·å¾—ç”¨æˆ·è¯„åˆ†çš„å‡å€¼ï¼Œæˆ‘ä»¬åœ¨è¿™é‡Œæå‰å‡†å¤‡å¥½
mean = ratings.groupby(by='userid', as_index=False)['rating'].mean()
mean = mean.to_numpy()[:, 1]

In [17]:
np_ratings = ratings.to_numpy()
np_ratings

array([[ 0.00000000e+00,  0.00000000e+00,  5.00000000e+00,
         3.61029412e+00,  1.38970588e+00],
       [ 0.00000000e+00,  1.00000000e+00,  3.00000000e+00,
         3.61029412e+00, -6.10294118e-01],
       [ 0.00000000e+00,  2.00000000e+00,  4.00000000e+00,
         3.61029412e+00,  3.89705882e-01],
       ...,
       [ 9.42000000e+02,  1.18700000e+03,  3.00000000e+00,
         3.41071429e+00, -4.10714286e-01],
       [ 9.42000000e+02,  1.22700000e+03,  3.00000000e+00,
         3.41071429e+00, -4.10714286e-01],
       [ 9.42000000e+02,  1.32900000e+03,  3.00000000e+00,
         3.41071429e+00, -4.10714286e-01]])

In [18]:
def predict(userid, itemid):
    """
    predict what score userid would have given to itemid.
    
    :param
        - userid : user id for which we want to make prediction
        - itemid : item id on which we want to make prediction
        
    :return
        - r_hat : predicted rating of user userid on item itemid
    """
    user_similarities = similarities[userid] 
    user_neighbors = neighbors[userid]
    # get mean rating of user userid
    user_mean = mean[userid]
    
    # find users who rated item 'itemid'
    iratings = np_ratings[np_ratings[:, 1].astype('int') == itemid]
    
    # find similar users to 'userid' who rated item 'itemid'
    suri = iratings[np.isin(iratings[:, 0], user_neighbors)]
    
    # similar users who rated current item (surci)
    normalized_ratings = suri[:,4]
    indexes = [np.where(user_neighbors == uid)[0][0] for uid in suri[:, 0].astype('int')]
    sims = user_similarities[indexes]
    
    num = np.dot(normalized_ratings, sims)
    den = np.sum(np.abs(sims))
    
    if num == 0 or den == 0:
        return user_mean
    
    r_hat = user_mean + np.dot(normalized_ratings, sims) / np.sum(np.abs(sims))
    
    return r_hat

### è®¡ç®—æ¯ä¸ªç”¨æˆ·å¯¹å€™é€‰æ¨èå•†å“çš„é¢„æµ‹è¯„åˆ†

In [19]:
def add_single_user_predictions(userid, predictions):
    """
    Make rating prediction for the active user on each candidate item and save in file prediction.csv
    
    :param
        - userid : id of the active user
        - predictions : where to save predictions
    """    
    # find candidate items for the active user
    candidates = find_candidate_items(userid)
    
    # loop over candidates items to make predictions
    for itemid in candidates:
        
        # prediction for userid on itemid
        r_hat = predict(userid, itemid)
        
        # save predictions
        predictions.append((userid, itemid, r_hat))
    return predictions

In [20]:
import sys

def user_predictions():
    """
    Make predictions for each user in the database.    
    """
    # get list of users in the database
    users = ratings.userid.unique()
    
    def _progress(count):
        sys.stdout.write('\rRating predictions. Progress status : %.1f%%' % (float(count/len(users))*100.0))
        sys.stdout.flush()
        
    predictions = []
    
    for count, userid in enumerate(users):        
        # make rating predictions for the current user
        predictions = add_single_user_predictions(userid, predictions)
        _progress(count)
        
    predictions = pd.DataFrame(predictions, columns=['userid', 'itemid', 'predicted_rating'])
    return predictions

In [21]:
predictions = user_predictions()

Rating predictions. Progress status : 99.9%

In [22]:
predictions

       userid  itemid  predicted_rating
0           0     404          3.545405
1           0     567          3.813794
2           0     422          3.936685
3           0     384          3.330252
4           0     287          3.774287
...       ...     ...               ...
28285     942     237          4.269919
28286     942     450          2.727457
28287     942     287          3.826250
28288     942     163          3.417272
28289     942     577          3.322185

[28290 rows x 3 columns]

### å–æœ€é«˜çš„æ¨è

In [23]:
def top_ucf_recommendation(userid, predictions):
    """
    make top N recommendation for the active user.
    
    :param
        - userid : user id (original)
        - predictions : topN recommendations (original item id) reordered according to rating predictions
        
    :return
        - r_hat : predicted rating of user userid on item itemid
    """
    
    uid = uencoder.transform([userid])[0]
    
    predictions_user = predictions[predictions.userid==uid]
    List = predictions_user.sort_values(by=['predicted_rating'], ascending=False)
    
    List.userid = uencoder.inverse_transform(List.userid.tolist())
    List.itemid = iencoder.inverse_transform(List.itemid.tolist())
    
    List = pd.merge(List, movies, on='itemid', how='inner')
    
    return List

In [24]:
top_ucf_recommendation(212, predictions)

,userid,itemid,predicted_rating,title
0,212,173,4.754600,"Princess Bride, The (1987)"
1,212,97,4.734844,Dances with Wolves (1990)
2,212,174,4.710558,Raiders of the Lost Ark (1981)
3,212,71,4.699357,"Lion King, The (1994)"
4,212,196,4.678519,Dead Poets Society (1989)
5,212,95,4.478076,Aladdin (1992)
6,212,50,4.468001,Star Wars (1977)
7,212,194,4.407704,"Sting, The (1973)"
8,212,172,4.382282,"Empire Strikes Back, The (1980)"
9,212,181,4.358544,Return of the Jedi (1983)
10,212,79,4.356666,"Fugitive, The (1993)"
11,212,1,4.321743,Toy Story (1995)
12,212,204,4.263479,Back to the Future (1985)
13,212,98,4.240332,"Silence of the Lambs, The (1991)"
14,212,588,4.229569,Beauty and the Beast (1991)
15,212,121,4.205874,Independence Day (ID4) (1996)
16,212,202,4.161835,Groundhog Day (1993)
17,212,435,4.126420,Butch Cassidy and the Sundance Kid (1969)
18,212,210,4.126155,Indiana Jones and the Last Crusade (1989)
19,212,88,4.121082,Sleepless in Seattle (1993)
20,212,237,4.113454,Jerry Maguire (1996)
21,212,186,4.051800,"Blues Brothers, The (1980)"
22,212,216,3.992307,When Harry Met Sally... (1989)
23,212,69,3.938945,Forrest Gump (1994)
24,212,153,3.916930,"Fish Called Wanda, A (1988)"
25,212,117,3.847242,"Rock, The (1996)"
26,212,393,3.835244,Mrs. Doubtfire (1993)
27,212,168,3.728371,Monty Python and the Holy Grail (1974)
28,212,56,3.556692,Pulp Fiction (1994)
29,212,135,3.419380,2001: A Space Odyssey (1968)

# <b><span style='color:#F1C40F'>|</span> åŸºäºè¿‘é‚»ç®—æ³•çš„ååŒè¿‡æ»¤ - ICF</b>
æœ¬èŠ‚å†…å®¹ä¿®æ”¹äº:

 ğŸ“Œ [Item-basedCollaborativeFiltering](https://github.com/nzhinusoftcm/review-on-collaborative-filtering/blob/master/3.Item-basedCollaborativeFiltering.ipynb)

### å¾—åˆ°è¯„åˆ†çŸ©é˜µ

æ³¨æ„åœ¨è¿™é‡Œæˆ‘ä»¬è¦è®¡ç®—å•†å“ä¹‹é—´çš„ç›¸ä¼¼åº¦ï¼Œæ‰€ä»¥ç¬¬ä¸€ä¸ªç»´åº¦åº”è¯¥æ˜¯item

In [25]:
def get_csr_rating_matrix(ratings):   
    return csr_matrix(pd.crosstab(ratings.itemid, ratings.userid, ratings.rating, aggfunc=sum).fillna(0).values)    

rating_matrix = get_csr_rating_matrix(ratings)

In [26]:
metric = 'cosine'
model = create_model(rating_matrix, k=21, metric=metric)
similarities, neighbors = nearest_neighbors(rating_matrix, model)
print('neighbors shape : ', neighbors.shape)
print('similarities shape : ', similarities.shape)

neighbors shape :  (1682, 21)
similarities shape :  (1682, 21)

### å®šä¹‰æ‰¾åˆ°æ¨èå€™é€‰å•†å“çš„å‡½æ•°

åœ¨è¿™é‡Œæˆ‘ä»¬å®šä¹‰åŒæ—¶ç¬¦åˆä»¥ä¸‹æ¡ä»¶çš„å•†å“ä¸ºå€™é€‰æ¨èå•†å“ï¼š

- ä¸å±äºç›®æ ‡ç”¨æˆ·å·²ç»è´­ä¹°è¿‡çš„å•†å“ $I_u$
- å±äºæ‰€æœ‰ $I_u$ é‡Œçš„å•†å“çš„ç›¸ä¼¼å•†å“çš„å¹¶é›†
- å±äºtopç›¸ä¼¼äº $I_u$ çš„å•†å“

In [27]:
def all_candidate_items(userid):
    """
    :param userid : user id for which we wish to find candidate items    
    :return : I_u, candidates
    """
    
    # 1. Finding the set I_u of items already rated by user userid
    I_u = np_ratings[np_ratings[:, 0] == userid]
    I_u = I_u[:, 1].astype('int')
    
    # 2. Taking the union of similar items for all items in I_u to form the set of candidate items
    c = set()
        
    for iid in I_u:    
        # add the neighbors of item iid in the set of candidate items
        c.update(neighbors[iid])
        
    c = list(c)
    # 3. exclude from the set C all items in I_u.
    candidates = np.setdiff1d(c, I_u, assume_unique=True)
    
    return I_u, candidates

test_user = uencoder.transform([1])[0]
i_u, u_candidates = all_candidate_items(test_user)
print('number of items purchased by user 1 : ', len(i_u))
print('number of all candidate items for user 1 : ', len(u_candidates))

number of items purchased by user 1 :  272
number of all candidate items for user 1 :  654

In [28]:
def similarity_with_Iu(c, I_u):
    """
    compute similarity between an item c and a set of items I_u. For each item i in I_u, get similarity between 
    i and c, if c exists in the set of items similar to itemid.    
    :param c : itemid of a candidate item
    :param I_u : set of items already purchased by a given user    
    :return w : similarity between c and I_u
    """
    w = 0    
    for iid in I_u :        
        # get similarity between itemid and c, if c is one of the k nearest neighbors of itemid
        if c in neighbors[iid] :
            w = w + similarities[iid, neighbors[iid] == c][0]    
    return w

def rank_candidates_by_similarity_with_Iu(candidates, I_u):
    """
    rank candidate items according to their similarities with i_u    
    :param candidates : list of candidate items
    :param I_u : list of items purchased by the user    
    :return ranked_candidates : dataframe of candidate items, ranked in descending order of similarities with I_u
    """
    
    # list of candidate items mapped to their corresponding similarities to I_u
    sims = [similarity_with_Iu(c, I_u) for c in candidates]
    candidates = iencoder.inverse_transform(candidates)    
    mapping = list(zip(candidates, sims))
    
    ranked_candidates = sorted(mapping, key=lambda couple:couple[1], reverse=True)    
    return ranked_candidates

def find_candidate_items(userid, candidate_number=30):
    """
    Produce top-N recommendation for a given user    
    :param userid : user for which we produce top-N recommendation
    :param n : length of the top-N recommendation list    
    :return topn
    """
    # find candidate items
    I_u, candidates = all_candidate_items(userid)
    
    # rank candidate items according to their similarities with I_u
    ranked_candidates = rank_candidates_by_similarity_with_Iu(candidates, I_u)
    
    # get the first N row of ranked_candidates to build the top N recommendation list
    topn = pd.DataFrame(ranked_candidates[:candidate_number], columns=['itemid','similarity_with_Iu'])    
    topn = pd.merge(topn, movies, on='itemid', how='inner')    
    return topn

In [29]:
def predict(userid, itemid):
    """
    Make rating prediction for user userid on item itemid    
    :param userid : id of the active user
    :param itemid : id of the item for which we are making prediction        
    :return r_hat : predicted rating
    """
    
    # Get items similar to item itemid with their corresponding similarities
    item_neighbors = neighbors[itemid]
    item_similarities = similarities[itemid]
    
    # get ratings of user with id userid
    uratings = np_ratings[np_ratings[:, 0].astype('int') == userid]
    
    # similar items rated by item the user of i
    siru = uratings[np.isin(uratings[:, 1], item_neighbors)]
    scores = siru[:, 2]
    indexes = [np.where(item_neighbors == iid)[0][0] for iid in siru[:,1].astype('int')]    
    sims = item_similarities[indexes]
    
    dot = np.dot(scores, sims)
    som = np.sum(np.abs(sims))

    if dot == 0 or som == 0:
        return mean[userid]
    
    return dot / som

In [30]:
def top_icf_recommendation(userid):
    """
    :param userid : id of the active user    
    :return topn : initial topN recommendations returned by the function item2item_topN
    :return topn_predict : topN recommendations reordered according to rating predictions
    """
    # make top N recommendation for the active user
    item_candidates = find_candidate_items(userid)
    
    # get list of items of the top N list
    itemids = item_candidates.itemid.to_list()
    
    predictions = []
    
    # make prediction for each item in the top N list
    for itemid in itemids:
        r = predict(userid, itemid)
        
        predictions.append((itemid,r))
    
    predictions = pd.DataFrame(predictions, columns=['itemid','prediction'])
    
    # merge the predictions to topN_list and rearrange the list according to predictions
    candidate_predictions = pd.merge(item_candidates, predictions, on='itemid', how='inner')
    candidate_predictions = candidate_predictions.sort_values(by=['prediction'], ascending=False)
    
    return candidate_predictions

In [31]:
test_user = uencoder.transform([1])[0]
top_icf_recommendation(userid=test_user)

,itemid,similarity_with_Iu,title,prediction
10,546,10.207321,Broken Arrow (1996),5.000000
26,288,6.565468,Scream (1996),5.000000
23,318,6.863154,Schindler's List (1993),5.000000
6,474,11.059820,Dr. Strangelove or: How I Learned to Stop Worr...,4.735340
29,514,6.508386,Annie Hall (1977),4.603404
25,300,6.648774,Air Force One (1997),4.467646
27,275,6.564902,Sense and Sensibility (1995),4.441006
11,276,10.182872,Leaving Las Vegas (1995),4.417165
13,285,9.663934,Secrets & Lies (1996),4.348225
17,286,8.987699,"English Patient, The (1996)",4.312252
19,483,8.567668,Casablanca (1942),4.146484
22,471,7.044266,Courage Under Fire (1996),4.108979
7,462,11.046311,Like Water For Chocolate (Como agua para choco...,3.950362
16,655,9.356850,Stand by Me (1986),3.747745
9,475,10.213619,Trainspotting (1996),3.547788
18,357,8.861852,One Flew Over the Cuckoo's Nest (1975),3.470771
2,403,19.647600,Batman (1989),3.272233
20,582,7.911962,"Piano, The (1993)",3.186786
21,367,7.204537,Clueless (1995),3.004360
12,742,9.678269,Ransom (1996),2.995475
15,566,9.463822,Clear and Present Danger (1994),2.881516
28,419,6.545508,Mary Poppins (1964),2.861641
24,451,6.691358,Grease (1978),2.822156
3,405,16.142610,Mission: Impossible (1996),2.790907
8,550,10.810316,Die Hard: With a Vengeance (1995),2.756978
1,385,19.663048,True Lies (1994),2.723451
4,568,15.024193,Speed (1994),2.652383
5,393,13.159377,Mrs. Doubtfire (1993),2.007855
14,559,9.575396,Interview with the Vampire (1994),1.207061
0,423,24.870375,E.T. the Extra-Terrestrial (1982),1.000000